<h1>footer</h1>

<%# need to render partials in application html body before yield %>
<%# in application if you are parsing a variavle, pass it as a local variable becuase its being shared amongst files %>