
<img class="title_img" src="https://images.unsplash.com/photo-1578377375762-cbcc98d68af0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">


<h1> <%= @names %> </h1> 

<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Hi there!</h1>
  <p class="lead">Welcome to DungeonMate</p>
  <hr class="my-4">
  <p>An app for creating and saving your DnD Characters.</p>
  <li class="btn btn-primary btn-lg" role="button"><%= link_to "Create New Character", new_character_path%></li>
</div>
</div>